@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
}

.nav-link:hover {
  color: green !important;
}

.section-2 p {
  margin-left: 7%;
  margin-right: 7%;
}
a {
  text-decoration: none;
}
a:hover {
  color: green !important;
}
@media (max-width: 767.98px) {
  .navbar-brand img {
    width: 200;
  }
  .card-header-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .card-header-mobile h2 {
    font-size: 1rem;
  }
  .card-title-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .card-title-button:hover {
    background-color: #0056b3;
  }
  .card-header-mobile img {
    margin-top: 0 !important;
    margin-right: 5 !important;
  }
  .card {
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .card-1 {
    background-color: #af1007 !important;
  }
  .card-1 h2 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(255, 255, 255, 1);
    background-color: #850903 !important;
  }
  .card-2 {
    background-color: rgb(85, 202, 85) !important;
  }
  .card-2 h2 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(255, 255, 255, 1);
    background-color: rgb(85, 202, 85) !important;
  }
  .card-3 {
    background-color: gray !important;
  }
  .card-3 h2 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(255, 255, 255, 1);
    background-color: gray !important;
  }
  .card-4 {
    background-color: #007bff !important;
  }
  .card-4 h2 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(255, 255, 255, 1);
    background-color: #007bff !important;
  }
  .reg-btn span {
    font-size: 9px !important;
  }
  .reg-btn a {
    font-size: 9px !important;
  }
  .frm input {
    font-size: 10px !important;
  }
  .form-chexkbox label {
    font-size: 12px !important;
  }
}
.img-rounded-lg-up {
  border-radius: 0;
}

@media (min-width: 767.98px) {
  .img-rounded-lg-up {
    border-radius: 50%;
  }
}

/* repair */

.claim {
  background-color: #dcdcdc !important;

  padding: 20px !important;
  font-family: "Noto Sans", sans-serif;

  width: 100% !important;
}

.claimimage {
  height: 258px;
  width: 100%;
  object-fit: cover;
}

.cardss {
  max-width: 63% !important;
  margin: auto !important;
}
.please {
  margin: auto;
  background-color: #fdfce0 !important;
  border: 1px solid black;
  width: 60%;

  padding: 20px 7px;

  margin-top: 10px !important;
  color: black !important;
}

.upper {
  width: 60%;
  margin: auto;
  padding: 20px 0;
  margin-top: 10px !important;
}
.custom-button {
  background-color: #900d06 !important;
  border: none;
}
.custom-button:hover {
  background-color: #af1007 !important;
}
@media (max-width: 768px) {
  .cardss {
    max-width: 95% !important;
  }
}

.cardss {
  background-color: #af1007;
}

@media (max-width: 400px) {
  .upper {
    width: 83%;
    margin: auto;
    padding: 20px 0;
    margin-top: 10px !important;
  }

  .please {
    margin: auto;

    border: 1px solid black;
    width: 83%;

    padding: 20px 7px;

    margin-top: 10px !important;
  }
}

.upper {
  background-color: #af1007;
}

.please {
  background-color: #af1007;
}

.navbar-toggler {
  font-size: 0.75rem !important;

  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}
